.container-tlf{

text-align: center;
padding: 20px;
background-color: rgba(102, 102, 103, 0.213);
border-radius: 10px;
}

.list-tlf{

    border: 2px solid rgb(95, 94, 94);
    padding: 20px;
    border-radius: 5px;
}

hr {
    border: none; /* Elimina el borde por defecto */
    height: 1px; /* Grosor de la línea */
    background-color: white; /* Color blanco */
    margin: 20px 0; /* Espaciado vertical */
    opacity: 0.5;
  }

.title-tlfs-h2{
background-color: #9B2D46;
margin: 20px 20px;

}