.info-container {
    padding-bottom: 30px;
    text-align: center;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

/* Contenedor texto */
.info-div{

    display: flex;
    flex-direction: column;
    

}


.info-container h1 {
    font-size:50px;
}

.info-container p {
    font-size: 20px;border: 5px solid #9B2D46;
    padding: 45px;

}

.icon-about{

    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: 120px;
   margin-top: 60px;
    
}




/* Adaptación para iPad (pantallas entre 768px y 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
    .info-container h1 {
        font-size: 32px; /* Tamaño más pequeño para iPad */
    }
    
    .info-container p {
        font-size: 16px; /* Ajuste del tamaño de fuente para iPad */
    }
}

/* Adaptación para iPhone (pantallas menores de 768px) */
@media (max-width: 767px) {
    .info-container h1 {
        font-size: 24px; /* Tamaño más pequeño para iPhone */
    }
    
    .info-container p {
        font-size: 14px; /* Ajuste del tamaño de fuente para iPhone */
    }
    
    .info-container {
        padding-bottom: 20px; /* Ajuste del padding para dispositivos más pequeños */
    }
}
