.nav-container{
  
    border: 2px double rgb(132, 128, 128);
    border-radius:5px ;
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}

.nav-container h1{
   
    font-size: 25px;
    margin-left: 10px;
    
}



