.main-container{

  
  padding-top:50px ;
 
}
.App{

  background-color: #26292A; color: white;
   padding: 0px 5px ;
}

.title-map{

  text-align: center;
  color: rgb(173, 178, 183);
}

*{
  padding: 5px;
}
